# Jamie Sims - Revolut Analysis Task

The following is the data analysis conducted to support my final presentation. 

**S**ituation: The passrate has decreaesed significnatly in the recent period <br>
**T**ask: To write a report that identifies <br> - root causes for this drop in success rate <br> - suggested solutions 

### Definitions

- **Recent Period**: Need to define recent period <br>
- **Pass Rate**: number of succesful KYC checks (Success) / number of attempts (attempts)

In [3]:
import pandas as pd

docs_report_file = 'doc_reports_sample.csv'
faces_report_file = 'face_reports_sample.csv'

documents = pd.read_csv(docs_report_file, parse_dates=["created_at"])
faces = pd.read_csv(faces_report_file, parse_dates=["created_at"])

Variables to be used in calculations defined below:

In [11]:
unique_users = documents["user_id"].nunique()
document_failures = documents[documents["result"]=="consider"]
faces_failures = faces[faces["result"]=="consider"]

## Analysis of the Document Upload Failures

In [19]:
documents.head(5)

,Unnamed: 0,user_id,result,visual_authenticity_result,image_integrity_result,face_detection_result,image_quality_result,created_at,supported_document_result,conclusive_document_quality_result,colour_picture_result,data_validation_result,data_consistency_result,data_comparison_result,attempt_id,police_record_result,compromised_document_result,properties,sub_result
0,27241,8190909e566647a5b6afeee9b4ec6c6a,clear,clear,clear,clear,clear,2017-05-25 08:38:56,clear,NaN,NaN,clear,NaN,clear,30e11e95e30748f485a2271ca5e6abb8,clear,NaN,"{'gender': 'Female', 'document_type': 'driving...",clear
1,28369,6b62136dfde348a99855e350294aaf5d,clear,clear,clear,clear,clear,2017-05-31 08:12:51,clear,NaN,NaN,clear,NaN,clear,4c0bfde8eb2249ed820e1f61d3ec3e33,clear,NaN,"{'gender': 'Male', 'document_type': 'driving_l...",clear
2,27988,73679363dccc46fa9f34a4fefd0d76e3,clear,clear,clear,clear,clear,2017-05-29 15:07:04,clear,NaN,NaN,clear,clear,clear,c5004fd1fc1d4e36a11433b70d960867,clear,NaN,"{'gender': 'Male', 'nationality': 'GBR', 'docu...",clear
3,27529,07857065dfa64db386739ec4fff47856,consider,clear,clear,clear,clear,2017-05-26 19:00:35,clear,NaN,NaN,clear,clear,consider,e4b26d4ddda545c9931a0a845cd65109,clear,NaN,"{'gender': 'Male', 'nationality': 'PER', 'docu...",caution
4,47987,9f887805b2af49069349ff107e0bca01,clear,clear,clear,clear,clear,2017-05-29 14:38:21,clear,NaN,NaN,clear,clear,clear,8ead2b23ef664e4d85fae798a7d5d52c,clear,NaN,"{'gender': 'Male', 'issuing_date': '2011-03', ...",clear

Breakdown of differnt secondary reasons for failure in Document Upload

In [58]:
conclusive_document_quality_fail = documents[documents["conclusive_document_quality_result"]!="clear"]
conclusive_document_quality_fail["conclusive_document_quality_result"].count()

446

In [54]:
colour_picture_fail = documents[documents["colour_picture_result"]!="clear"]
colour_picture_fail["colour_picture_result"].count()

2

In [55]:
data_validation_fail = documents[documents["data_validation_result"]!="clear"]
data_validation_fail["data_validation_result"].count()

56

In [56]:
data_consistency_fail = documents[documents["data_consistency_result"]!="clear"]
data_consistency_fail["data_consistency_result"].count()

5

In [57]:
data_comparison_fail = documents[documents["data_comparison_result"]!="clear"]
data_comparison_fail["data_comparison_result"].count()

5

Breakdown of differnt primary reasons for failure in Document Upload

In [53]:
# DOCUMENTS: Primary Document Failures - Image Quality 
image_quality_fail = documents[documents["image_quality_result"]!="clear"]
image_quality_fail["image_quality_result"].count()

834

In [59]:
# DOCUMENTS: Primary Document Failures - face Detection
face_detection_fail = documents[documents["face_detection_result"]!="clear"]
face_detection_fail["face_detection_result"].count()

23

In [60]:
# DOCUMENTS: Primary Document Failures - image integrity 
image_integrity_fail = documents[documents["image_integrity_result"]!="clear"]
image_integrity_fail["image_integrity_result"].count()

1337

In [40]:
# image integrity failure %
document_image_integrity_failure_rate = image_integrity_fail["image_integrity_result"].count()/document_failures["result"].count()*100
document_image_integrity_failure_rate

90.7055630936228

In [61]:
# Documents: Document Failures - Visual Authenticity 
visual_authenticity_fail = documents[documents["visual_authenticity_result"]!="clear"]
visual_authenticity_fail["visual_authenticity_result"].count()

97

## Analysis of the Document Upload Failures

In [20]:
faces.head(5)

,Unnamed: 0,user_id,result,face_comparison_result,created_at,facial_image_integrity_result,visual_authenticity_result,properties,attempt_id
0,58,ecee468d4a124a8eafeec61271cd0da1,clear,clear,2017-06-20 17:50:43,clear,clear,{},9e4277fc1ddf4a059da3dd2db35f6c76
1,76,1895d2b1782740bb8503b9bf3edf1ead,clear,clear,2017-06-20 13:28:00,clear,clear,{},ab259d3cb33b4711b0a5174e4de1d72c
2,217,e71b27ea145249878b10f5b3f1fb4317,clear,clear,2017-06-18 21:18:31,clear,clear,{},2b7f1c6f3fc5416286d9f1c97b15e8f9
3,221,f512dc74bd1b4c109d9bd2981518a9f8,clear,clear,2017-06-18 22:17:29,clear,clear,{},ab5989375b514968b2ff2b21095ed1ef
4,251,0685c7945d1349b7a954e1a0869bae4b,clear,clear,2017-06-18 19:54:21,clear,clear,{},dd1b0b2dbe234f4cb747cc054de2fdd3

### Summary of Failure Reasons

Analysis of the reasons for failure of facial recognition step

In [64]:
facial_image_integrity_fail = faces[faces["facial_image_integrity_result"]!="clear"]
facial_image_integrity_fail["facial_image_integrity_result"].count()

326

In [72]:
facial_image_integreit_fail_proportion = facial_image_integrity_fail["facial_image_integrity_result"].count()/faces_failures["result"].count()*100
facial_image_integreit_fail_proportion

88.8283378746594

In [65]:
face_comparison_fail = faces[faces["face_comparison_result"]!="clear"]
face_comparison_fail["face_comparison_result"].count()

22

In [66]:
visual_authenticity_fail = faces[faces["visual_authenticity_result"]!="clear"]
visual_authenticity_fail["visual_authenticity_result"].count()

97

In [82]:
second_attempts_face = faces[faces.duplicated(["user_id"],keep=False)]
second_attempts_face.sort_values(by='user_id')

,Unnamed: 0,user_id,result,face_comparison_result,created_at,facial_image_integrity_result,visual_authenticity_result,properties,attempt_id
2879,88935,0a743f7f87884a51bd8c165e0d3e70ed,clear,clear,2017-09-30 10:06:15,clear,NaN,{},7477c4c591d747abb6103941afdf5dfb
2874,88899,0a743f7f87884a51bd8c165e0d3e70ed,consider,NaN,2017-09-30 09:55:07,consider,NaN,{},98959d065b7d4d30af6785533a256eaa
3334,104039,0b3fe48a14554fa687e5152a1c20d768,clear,clear,2017-09-19 17:58:58,clear,clear,{},5d02c7f7ad30435caeb88a0563393059
3350,104674,0b3fe48a14554fa687e5152a1c20d768,clear,clear,2017-09-19 17:39:43,clear,clear,{},b6cd0902fdd74e72a0263781551cb8b7
4087,127521,0b677d16a072467eb95dd396e25840d9,clear,clear,2017-08-31 22:38:25,clear,clear,{},344fecf0bcbc42e3a8bd92bc469e1ddd
...,...,...,...,...,...,...,...,...,...
3345,104370,e96cd0bcab7c4dfbb6b9294f17afc577,clear,clear,2017-09-19 20:43:47,clear,clear,{},cad8b8deac2340f283f1ccd0b1920462
5439,169023,edc77146e73c48be994bf45036a8c48c,consider,NaN,2017-07-17 13:39:47,consider,clear,{},59aff42d707148d4a72560a066ef86e4
5437,169000,edc77146e73c48be994bf45036a8c48c,consider,NaN,2017-07-17 13:26:25,consider,clear,{},6e09c41e3f154dc4b0ad69be95fc2ded
5334,165796,f218379dd76b4058958450cb9aaea143,clear,clear,2017-07-20 18:46:48,clear,clear,{},0ea08f1b57cc41558018fcef539b638b
5344,166044,f218379dd76b4058958450cb9aaea143,clear,clear,2017-07-20 15:39:32,clear,consider,{},e33e9fc3588d43a8aa22ef91a5e56da7

In [81]:
second_attempts_document = documents[documents.duplicated(["user_id"],keep=False)]
second_attempts_document.sort_values(by='user_id')

,Unnamed: 0,user_id,result,visual_authenticity_result,image_integrity_result,face_detection_result,image_quality_result,created_at,supported_document_result,conclusive_document_quality_result,colour_picture_result,data_validation_result,data_consistency_result,data_comparison_result,attempt_id,police_record_result,compromised_document_result,properties,sub_result
2989,88899,0a743f7f87884a51bd8c165e0d3e70ed,consider,NaN,consider,NaN,unidentified,2017-09-30 09:55:07,clear,NaN,NaN,NaN,NaN,NaN,98959d065b7d4d30af6785533a256eaa,NaN,NaN,{},rejected
3755,88935,0a743f7f87884a51bd8c165e0d3e70ed,consider,NaN,consider,NaN,unidentified,2017-09-30 10:06:16,clear,NaN,NaN,NaN,NaN,NaN,7477c4c591d747abb6103941afdf5dfb,NaN,NaN,{},rejected
3367,104039,0b3fe48a14554fa687e5152a1c20d768,clear,clear,clear,clear,clear,2017-09-19 17:58:58,clear,clear,clear,clear,clear,NaN,5d02c7f7ad30435caeb88a0563393059,clear,NaN,"{'gender': 'Male', 'nationality': 'BEL', 'docu...",clear
2914,104674,0b3fe48a14554fa687e5152a1c20d768,clear,clear,clear,clear,clear,2017-09-19 17:39:42,clear,clear,clear,clear,clear,NaN,b6cd0902fdd74e72a0263781551cb8b7,clear,NaN,"{'gender': 'Male', 'nationality': 'BEL', 'docu...",clear
1588,127513,0b677d16a072467eb95dd396e25840d9,consider,NaN,consider,NaN,unidentified,2017-08-31 22:30:14,clear,NaN,NaN,NaN,NaN,NaN,7bd292b207c34f569082c1ff87963619,NaN,NaN,{},rejected
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3853,104344,e96cd0bcab7c4dfbb6b9294f17afc577,consider,clear,consider,clear,clear,2017-09-19 20:27:06,clear,consider,clear,clear,clear,NaN,12005624a55c40bf8e3cf72309d907db,clear,NaN,"{'gender': 'Female', 'nationality': 'ESP', 'do...",caution
700,169000,edc77146e73c48be994bf45036a8c48c,clear,clear,clear,clear,clear,2017-07-17 13:26:25,clear,NaN,NaN,NaN,NaN,NaN,6e09c41e3f154dc4b0ad69be95fc2ded,clear,NaN,"{'document_type': 'driving_licence', 'issuing_...",clear
1266,169023,edc77146e73c48be994bf45036a8c48c,clear,clear,clear,clear,clear,2017-07-17 13:39:47,clear,NaN,NaN,clear,clear,NaN,59aff42d707148d4a72560a066ef86e4,clear,NaN,"{'gender': 'Male', 'nationality': 'PRT', 'docu...",clear
780,166044,f218379dd76b4058958450cb9aaea143,consider,consider,clear,clear,clear,2017-07-20 15:39:32,clear,NaN,NaN,clear,clear,NaN,e33e9fc3588d43a8aa22ef91a5e56da7,clear,NaN,"{'gender': 'Male', 'nationality': 'DNK', 'docu...",caution
1406,165796,f218379dd76b4058958450cb9aaea143,clear,clear,clear,clear,clear,2017-07-20 18:46:48,clear,NaN,NaN,clear,clear,NaN,0ea08f1b57cc41558018fcef539b638b,clear,NaN,"{'gender': 'Male', 'nationality': 'DNK', 'docu...",clear

## High Level Overall Analysis 
A selection of high level queries that show overall trends in the data

In [12]:
# Number of failed document checks for "consider", (significantly higher than the failed failure check)
document_failures["result"].count()

1474

In [7]:
# Successful document checks
document_success = documents[documents["result"]=="clear"]
document_success["result"].count()

4406

In [14]:
# Number of failed faces checks, (significantly lower than the failed documents check) 
faces_failures["result"].count()

367

In [8]:
# Successful face checks
faces_success = faces[faces["result"]=="clear"]
faces_success["result"].count()

5513

In [15]:
# Pass rate: Documents
document_pass_rate = document_success["result"].count()/documents["result"].count()*100
document_pass_rate

74.93197278911565

In [16]:
# Pass Rate: Faces
faces_pass_rate = faces_success["result"].count()/faces["result"].count()*100
faces_pass_rate

93.75850340136054

In [22]:
documents.groupby("created_at")

In [24]:
documents.groupby("created_at")["result"].()

created_at
2017-05-23 17:25:05       clear
2017-05-23 19:17:47       clear
2017-05-23 20:49:06       clear
2017-05-24 07:47:43    consider
2017-05-24 11:38:14       clear
                         ...
2017-10-31 21:06:56    consider
2017-10-31 21:10:20    consider
2017-10-31 21:11:50       clear
2017-10-31 21:46:05       clear
2017-10-31 22:06:10       clear
Name: result, Length: 5874, dtype: object

In [ ]:
# Analysis of properties for failed rates